[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
"7c4da24" = {editable = true, path = ".\\..\\indented"}

[requires]
python_version = "3.5"

[packages]
pytypes = "*"
indented = "*"
